.text_title{
    margin-bottom: 50px;
}
.photo_gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo_gallery ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo_gallery ul img {
    max-width: 55%;
}

.photo_gallery .buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 53%; 
  width: 100%;
  position:absolute;
  margin: 0 10px;
}

.photo_gallery .buttons .next_button{
    width: 15%;
    background-color: rgba(0,0,0,0.4);
    border: none;
    color: white;
    font-size: 50px;
    margin: 0;
}
.photo_gallery .buttons .prev_button{
    width: 15%;
    background-color: rgba(0,0,0,0.4);
    border: none;
    color: white;
    font-size: 50px;
    margin: 0;
}
.photo_gallery .buttons .next_button:hover{
    background-color: rgba(0,0,0,0.2);
}
.photo_gallery .buttons .prev_button:hover{
    background-color: rgba(0,0,0,0.2);
    }
.carousel_indicators {
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  
  .carousel {
    width: 12px;
    height: 12px;
    background-color: #88888861;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel.active {
    background-color: #0f5593;
}