.text_title{
    margin-bottom: 50px;
}
.photo_gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo_gallery ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo_gallery ul img {
    max-width: 55%;
}

.photo_gallery .buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 53%; 
  width: 100%;
  position:absolute;
  margin: 0 10px;
}

.photo_gallery .buttons .next_button{
    height: 138px;
    width: 15%;
    background-color: rgba(0,0,0,0.4);
    border: none;
    color: white;
    font-size: 50px;
    margin: 0;
}
.photo_gallery .buttons .prev_button{
    height: 138px;
    width: 15%;
    background-color: rgba(0,0,0,0.4);
    border: none;
    color: white;
    font-size: 50px;
    margin: 0;
}
.photo_gallery .buttons .next_button:hover{
    background-color: rgba(0,0,0,0.2);
}
.photo_gallery .buttons .prev_button:hover{
    background-color: rgba(0,0,0,0.2);
    }
.carousel_indicators {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 150px;
  }
  
  .carousel {
    width: 12px;
    height: 12px;
    background-color: #88888861;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel.active {
    background-color: #0f5593;
}

.container{
    width:100%;
    display: flex;
    margin-bottom: 150px;
}

.description{
    margin: 0 2%;
    width: 50%;
    border-radius: 50%;
    animation: changeBorder 5s linear infinite alternate ;
}
.description p{
    font-size:17px;
    color: azure;
    text-align: center;
    margin: 10% 10%;
}

@keyframes changeBorder {
    0% {
        box-shadow: 0px 0px 40px 2px #5700f8;
    }
    50% {
        box-shadow: 0px 0px 40px 2px #756a06;
    }
    100% {
        box-shadow: 0px 0px 40px 2px rgb(187, 5, 75);
    }

}

.video{
    width: 50%;
}
.video iframe{
    display: flex;
    margin:auto;
}

@media screen and (max-width: 1024px) {
    .carousel_indicators{
        margin-bottom: 50px;
    }
    .photo_gallery ul img {
        max-width: 75%;
    }
    .photo_gallery .buttons{
        max-width: 75%; 
    }
    .container{
    flex-direction: column;
    align-items: center;
    }
    .container  .description{
        margin-bottom: 50px;
        width: 85%;
    }
    .video {
        width: 100%;
    }
  }

  @media screen and (max-width: 567px) {

    .carousel_indicators{
        margin-bottom: 50px;
    }
    .description{
        font-size: 18px;
        border-radius: 5%;
    }

    .video iframe{
        width: 100%;
    }
  }