.text_title{
    margin-bottom: 50px;
}

.photo_gallery ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo_gallery ul img {
    max-width: 55%;
}

.photo_gallery .buttons{
margin-top: -36.7%;
max-height: 571px;
  display: flex;
  justify-content: space-between;
  margin-left: 22.4%;
  margin-right: 22.4%;
  opacity: 40%
}

.photo_gallery .buttons .next_button{
    width: 15%;
    background-color: black;
    border: none;
    color: white;
    font-size: 50px;
}
.photo_gallery .buttons .prev_button{
    width: 15%;
    background-color: black;
    border: none;
    color: white;
    font-size: 50px;
}
.photo_gallery .buttons .next_button:hover{
    opacity:20%
}
.photo_gallery .buttons .prev_button:hover{
    opacity:20%
    }
.carousel_indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .carousel {
    width: 12px;
    height: 12px;
    background-color: #88888861;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel.active {
    background-color: #0f5593;
}