.experience_info{
    width: 100%;
    margin-bottom: 75px;;
}

.experience_info p{
    color: azure;
    font-size: 20px;
    max-width: 75%;
    text-align: center;
    margin:auto;
    margin-bottom: 75px;
}

.experience_info hr{
    max-width: 85%;
    margin: auto;
    color:#a6a6a63b;
}

.work_container{
    margin-bottom: 150px;
}

.work_container .work_experience{
    display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: auto;
}

.work_container .work_experience .work{
padding-bottom: 30px;
display: flex;
  flex-direction: column;
}

.work_container .work_experience .work:hover{
    transform: scale(1.2);
    }

.work_container .work_experience p{
    text-align: left;
    color: azure;
}
.work_container .work_experience span{
    font-size: 25px;
    position: absolute;
    margin-top: 70px;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-weight: bold;
    color: azure;
}
@media screen and (max-width: 962px) {
    .work_container .work_experience span{
        position: relative;
        margin-top: 0px;
        left: 0; 
        transform: translate(0%, -50%); 
    }
 }
 @media screen and (max-width: 768px) {
    .work_container .work_experience span{
        font-size:20px
    }
 }
 @media screen and (max-width: 567px) {
    .work_container .work_experience span{
        font-size: 18px;
        margin-top: 10px;
    }
 }