.my_road_container {
    margin-bottom: 150px;
}
.my_road_container h4{
    font-size: 35px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
.my_road {
    background-color: #383838;
    padding: 3px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.my_road img{
    max-width: 80px;
    max-height: 80px;
}
.my_road img:nth-last-child(-n+5) {
    filter: grayscale(100%);
}
.my_road img:nth-last-child(-n+5):hover {
    filter: none;
}
.my_road p{
    text-align: center;
    display: inline-block;
    font-size: 60px;
}
.my_road .im_here{
    position:absolute;
    padding: 12px;
    font-weight: bold;
    color: white;;
}
