* {
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body{
    font-family: "Courier New", monospace;
    background-color: rgb(20, 20, 20);
    
}
.container{
    margin: auto;
    padding: 0 16px;
}

header{
    background-image: url('images/background.jpg');
    background-size: cover; /* Skalowanie obrazu, aby wypełnić cały nagłówek */
    background-position: center; /* Ustawienie pozycji obrazu na środku */
    height: 400px; /* Dostosuj wysokość nagłówka do swoich potrzeb */
    text-align: center; /* Wyrównanie tekstu do środka */
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .container .header_title .top_text{
    -webkit-text-stroke: 1.5px rgb(28, 236, 0); /* width and color */
    font-family: monospace; color: rgb(0, 184, 216);
    font-size: 67px;
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}
header .container .header_title .bot_text{
    color: white;
    font-size: 36px;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

header .container nav{
    
    position: fixed;
    left: 77%; 
    margin-top: -350px;
    white-space: nowrap;
}
header .container nav ul{
    margin:0;
    padding: 0;
}
header .container nav ul li{
    display: inline-block;
}
header .container nav ul li a{
    color: var(--gray, #ffffff);
    font-size: 20px;
    letter-spacing: 0.37px;
    margin-right: 10px;
    text-decoration: none;
    z-index: 1; 
    
    width: 100%;
}

.projects{
    color: white;  
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.projects .why_me{
    text-align: center;
    height: 1260px;
    max-width: 33%;
    display: flex;
    flex-direction: column;
}
.projects .why_me h{
    font-size:30px;
    }
.projects .why_me .reason{
    display: flex;
    margin-top: 50px;
}
.projects .why_me .reason:hover{
    transform: scale(1.2);
    background: linear-gradient(180deg, rgba(64, 44, 83, 0.3) 0%, rgba(64, 44, 83, 0.3) 100%);
    box-shadow: rgba(50, 50, 93, 0.5) 0px -10px 10px 0px, rgba(50, 50, 93, 0.5) 0px 13px 27px -5px;
    cursor: pointer;
}
.projects .why_me img{
    max-width: 10%;
    margin-right: 10px;
    background-color: #d5d5d5;
    border: 1px solid #000000;
    border-radius: 50%;
}
.projects .why_me p{
    font-size: 13px;
    text-wrap: wrap;
    padding: 10px;
}
.projects .my_projects{
    font-size: 50px;
    text-align: center;
    height: 1260px;;
    border: 1px solid white;
}

/* .about_me .my_story{
    font-size: 50px;
    text-align: center;
    max-width: 27%;height: 1260px;;
    margin-top: 40px;
    margin-left: 13%;
    border: 1px solid white;
    } */