* {
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body{
    font-family: "Courier New", monospace;
    background-color: rgb(20, 20, 20);
    
}
.container{
    margin: auto;
    padding: 0;
}
header{
    background-color: rgb(0 0 0 / 40%);
    padding: 10px;
    width: 100%;
    position: fixed;
}
header nav{
    white-space: nowrap;
    margin-left: 80%;
}

header nav ul li{
    display: inline-block;
}
header nav ul li a{
    color: var(--gray, #ffffff);
    font-size: 20px;
    letter-spacing: 0.37px;
    margin-right: 10px;
    text-decoration: none;
}
.text_title{
    background-image: url('images/background.jpg');
    background-size: cover; /* Skalowanie obrazu, aby wypełnić cały nagłówek */
    background-position: center; /* Ustawienie pozycji obrazu na środku */
    height: 400px; /* Dostosuj wysokość nagłówka do swoich potrzeb */
    text-align: center; /* Wyrównanie tekstu do środka */
    width: 100%;
}

.text_title .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

  .text_title .top_text{
    -webkit-text-stroke: 1.5px rgb(28, 236, 0); /* width and color */
    font-family: monospace; color: rgb(0, 184, 216);
    font-size: 67px;
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}
  .text_title .bot_text{
    color: white;
    font-size: 36px;
    position: absolute;
    margin-top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.my_works{
    color: white;  
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.my_works .why_me{
    text-align: center;
    max-width: 33%;
    display: flex;
    flex-direction: column;
}
.my_works .why_me h2{
    font-size: 40px;
    }
.my_works .why_me .reason{
    display: flex;
    margin-top: 50px;
}
.my_works .why_me .reason:hover{
    transform: scale(1.2);
    background: linear-gradient(180deg, rgba(64, 44, 83, 0.3) 0%, rgba(64, 44, 83, 0.3) 100%);
    box-shadow: rgba(50, 50, 93, 0.5) 0px -10px 10px 0px, rgba(50, 50, 93, 0.5) 0px 13px 27px -5px;
    cursor: pointer;
}
.my_works .why_me img{
    max-width: 10%;
    margin-right: 10px;
    background-color: #d5d5d5;
    border: 1px solid #000000;
    border-radius: 50%;
}
.my_works .why_me p{
    font-size: 13px;
    text-wrap: wrap;
    padding: 10px;
}
.my_works .my_projects{
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 33%;
}
.my_works .my_projects .buttons{
    flex-direction: none;
}
.my_works .my_projects h3{
    font-size: 40px;
    padding-bottom: 30px;
    }
.my_works .my_projects .project img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 320px;
}.my_works .my_projects .project {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 320px;
}
.my_works .my_projects .project button{
    margin-top: 10px;
    padding: 10px;
}
.my_works .my_projects .buttons {
    width: 100%; 
    height: 100%;
    margin-top: 38px;
    align-items: center;
    opacity:30%;
    display: flex;
    position: absolute;
    z-index: 1;
   
}
.my_works .my_projects .buttons:hover {
    opacity:60%;
}
.my_works .my_projects .buttons #nextButton{
    margin-left: auto;
    background-color: #535353;
    font-size:80px;
    color: rgb(187, 187, 187);
    margin-left: 150px;
    height: 320px;
    width: 25%;
}

.my_works .my_projects .buttons #prevButton{
    background-color: #535353;
    font-size:80px;
    color: rgb(187, 187, 187);
    margin-right: 150px;
    height: 320px;
    width: 25%;
}








/* .about_me .my_story{
    font-size: 50px;
    text-align: center;
    max-width: 27%;height: 1260px;;
    margin-top: 40px;
    margin-left: 13%;
    border: 1px solid white;
    } */